<div class="container-fluid" *ngIf="!loadGroup">

    <div class="row">

        <div class="col-md-12">
            <h4 class="center-align">
                <span class="group-color" [ngStyle]="{'background-color': group.data.color}"></span>
            </h4>
            <h4 class="center-align">
                <span>{{group.data.name}}</span>
            </h4>
        </div>

    </div>

    <div class="row">
        <div class="col">
            <button mat-flat-button class="add-file-btn">Add file</button>
        </div>

    </div>
    <br>
    <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
    <div class="row" style="margin-bottom: 15px;" *ngFor="let file of group.data.files">
        <div class="col-md-auto">
            <img src="assets/images/Clipboard.svg" class="file-icon" alt="file">
        </div>
        <div class="col-md-12">
            <span class="file-name">{{file.name}}</span>

            <button *ngIf="file.status==1" mat-flat-button class="cheeck-btn"  color="primary">Check in</button>
            <button *ngIf="file.status==0" mat-flat-button class="cheeck-btn" color="primary">Check out</button>

            <button style="float: right;" mat-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="confirmDeleted(file.id)">Delete</button>
            </mat-menu>
        </div>

    </div>




</div>

<!--   -->