<p-menubar [model]="items" >
    <div>
        <!-- <input type="text" pInputText placeholder="Search"> -->

    </div>
</p-menubar>
<br>



<div class="container-fluid" *ngIf="loadGroups">

    <div class="row" *ngFor="let item of skeltonLoderArray">
        <div class="col">
            <p-skeleton shape="circle" size="4rem" styleClass="mr-2"></p-skeleton>
            <br>

            <p-skeleton width="25%" styleClass="mb-2"></p-skeleton>
            <br>
            <p-skeleton width="12%"></p-skeleton>
            <br>
        </div>
    </div>

</div>


<div class="container-fluid" *ngIf="!loadGroups">

    <div class="row" *ngFor="let group of groupsArray" style="margin-bottom:30px ;">
        <div class="col-md-auto ">
            <span class="group-color" [ngStyle]="{'background-color': group.color} "></span>
        </div>
        <div class="col-md-auto  col-group-name" style="padding: 0px;" routerLink="details/{{group.id}}">
            <span class="group-name">{{group.name}}</span>
        </div>

        <div class="col" style="float: right;">
            <button style="float: right;" mat-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="deletedGroup(group.id)">Delete</button>
            </mat-menu>
        </div>
  
    
    </div>

</div>
